.App {
  text-align: center;
}

/* Define the animation keyframes */
.animate-wave {
  transition: fill 0.2s ease;
  animation: wave 1s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes tongue-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

@keyframes expand-animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes hide-animation {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
    visibility: hidden;
  }
}

@keyframes crt-off {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  80% {
    transform: scale(0.6);
    opacity: 0.3;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

#menu.hide {
  animation: hide-animation 0.2s ease-out forwards;
}
#menu.show {
  display: flex;
  animation: expand-animation 0.2s ease-out forwards;
}
.icon {
  transition: fill 0.3s ease;
}

.hide {
  fill: transparent;
}

.show {
  fill: currentColor;
}

.text-OpenSans {
  font-family: 'Open Sans', sans-serif;
}
